{% extends 'layouts/base.html' %}

{% block content %}
<h1>About...</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga tempore ea perspiciatis odio, laborum mollitia maxime, neque aspernatur deserunt id cum iste! Esse, aperiam? Suscipit, ipsam dignissimos. Sed culpa quae provident in numquam. Perferendis assumenda asperiores quisquam minima, magni illum ad qui illo fugiat sunt soluta quasi iure. Ea natus harum sit quis beatae illo quam nulla veniam hic magnam voluptatum quo ipsa, saepe ipsam corrupti soluta delectus possimus rem optio unde. Rem earum architecto ipsum sapiente nihil ea voluptatibus, vero reiciendis. Pariatur maiores architecto tenetur minima, iusto minus ratione ipsam aperiam reprehenderit consequatur vel placeat aspernatur dolorem mollitia odio.</p>

<p>Website created by {{username}}</p>
{% endblock %}